.contactSection {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85); /* Nền trắng mờ */
  backdrop-filter: blur(5px); /* Làm mờ ảnh nền phía sau */
  border-radius: 8px; /* Bo tròn góc */
  max-width: 800px; /* Tăng chiều rộng khung */
  margin: 20px auto; /* Căn giữa trên màn hình */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ nhẹ */
}

.contactTitle {
  color: #333; /* Màu chữ đỏ đậm */
  font-size: 24px; /* Tăng cỡ chữ tiêu đề */
  font-weight: bold; /* Làm đậm chữ */
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Hiệu ứng bóng chữ */
}

.contactText {
  margin-bottom: 1px;
  font-size: 18px; /* Tăng cỡ chữ */
  line-height: 2; /* Khoảng cách dòng */
  color: #333; /* Màu chữ xám đậm */
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3); /* Hiệu ứng bóng chữ */
}

.contactDetails {
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Màu chữ xám đậm */
  font-weight: 500; /* Làm đậm chữ */
}

.contactLink {
  color: #333; /* Màu đỏ đậm */
  text-decoration: none; /* Loại bỏ gạch chân */
  font-weight: bold; /* Làm đậm chữ link */
  transition: color 0.3s; /* Hiệu ứng chuyển màu */
}

.contactLink:hover {
  color: #333; /* Đổi sang màu đỏ đậm hơn khi hover */
  text-decoration: underline; /* Gạch chân khi hover */
}
