.exitButton {
    background-color: #f44336; /* Màu nền đỏ */
    color: #fff; /* Màu chữ trắng */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .exitButton::before {
    content: "\1F6AA"; /* Unicode biểu tượng xe đẩy */
    font-size: 1.2rem;
  }
  .exitButton:hover {
    background-color: #d32f2f; /* Màu nền khi hover */
  }
  