.search-bar {
  background-image: url('f.jpg'); /* Đường dẫn đến ảnh nền */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky; /* Đặt sticky thay vì fixed */
  top: 0; /* Đặt thanh tìm kiếm dính vào trên cùng */
  z-index: 1000; /* Đảm bảo thanh tìm kiếm không bị che khuất */
}

.search-bar input {
  width: 60%;
  padding: 12px 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}


.search-bar input:focus {
  border-color: #000000;
  box-shadow: 0 0 8px rgba(47, 140, 216, 0.5);
}
